@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; 
}

body{
  background-color: #f8f2f7;
  color: rgb(0, 0, 0);
}


main {
    display: flex;
    flex-grow: 2;
    align-items: flex-start;
  /*   flex-flow: nowrap; */
    padding-top: 5px;
    padding-bottom: 1px;
   /*  background-color: rgb(19, 18, 84); */
  } 

.criartopico {
    background-color: rgb(180, 186, 190);
    font-size: 1.2rem;
    min-height: min-content;
    
}

form {
    padding-bottom: 449.6vh; 

}
.criartopico p {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.1rem;
}



article {
   margin-left: 12.75rem;
   /* margin-right: center; */
   margin-block-start: auto;
   margin-top: -464.9vh;
   background-color: rgb(84, 9, 94);
   width: 89%;
   margin-bottom: -0.1rem;
}

article .post {
    border-radius: 1rem;
    background-color: rgb(172, 19, 103);
    padding: 2rem;
    max-width: 80rem;
    min-width: 15rem;
    color: azure;         
}

article h3 {
    font-size: 26px;
}

article .data {
    background-color: rgba(250, 250, 250, .5);
    padding: .6rem;
    border-radius: 8px;
    width: 10%;
    text-align: center;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
  }

article p {
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
}
.post {
    margin-left: 8rem;
    margin-top: 1.1rem;
}

footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    background-color: rgb(66, 17, 44);
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
   
  }
  
  footer div {
    background-color: #dddd;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
   
  }
  
  footer span {
    font-size: x-small;
    background-color: #dddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 8px;
  }