
.fundo{
  background-image: url(./images/Taça_copa.png);
  background-repeat: no-repeat;
  background-size: cover;
 
}


.titulo{
  font-size: 3rem;
  color: #28091a;
  margin: 1rem;
  padding-top: 2rem;
  padding-left: 55rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  word-spacing: 15px;
  letter-spacing: 2px;
 
}



.conteudo{
  margin-top: 1rem;
  margin-bottom: 3rem;
  word-spacing: 15px;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 1.6rem;
  padding-left: 55rem;
  padding-right: 5rem;
  color: #000000;
}

p{
  padding-bottom: 2rem;
  text-indent: 3rem;
  
}




footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    background-color: rgb(66, 17, 44);
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
   
  }
  
  footer div {
    background-color: #dddd;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
   
  }
  
  footer span {
    font-size: x-small;
    background-color: #dddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 8px;
  
  }
  
  .img-rodape {
    display: flex;
    width: 400px;
    align-items: center;
    position: relative;
    top: 40%;
    left: 40%;
    margin: -25px 0 0 -25px;
    padding-top: 26px;
    /*background: linear-gradient(100deg, #28091a, #823952);*/
  }