


.fundo{
  background-image: url(./images/Taça_copa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 1px;
  padding-bottom: 1.5rem;
  padding-left: 18px;
  background-color: rgba(248, 243, 243, 0.867);
   
}


h3{
  margin-top: 15px;
  font-size: 3rem;
  font-style: oblique;
  font-weight: 1000;
  color: rgb(250, 247, 248);
  padding-top: 7rem;
  padding-left: 55rem;
  word-spacing: 8px;
  letter-spacing: 2px;
 
}

.conteudo{
  margin-top: 5rem;
  margin-bottom: 1rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 18rem;
  text-indent: 2rem;
  text-align: justify;
  color: rgb(250, 247, 248);
  font-weight: 600;
  font-size: 1.2rem;
   
}

p{
  padding-bottom: 1.8rem;
    
}

#lin {
  text-decoration: underline;
  color: rgb(250, 247, 248);
  background-color: rgba(0, 0, 0, 0);
  
}

footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    background-color: rgb(66, 17, 44);
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
   
  }
  
  footer div {
    background-color: #dddd;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
   
  }
  
  footer span {
    font-size: x-small;
    background-color: #dddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 8px;
  
  }
  
  .img-rodape {
    display: flex;
    width: 400px;
    align-items: center;
    position: relative;
    top: 40%;
    left: 40%;
    margin: -25px 0 0 -25px;
    padding-top: 26px;
    /*background: linear-gradient(100deg, #28091a, #823952);*/
  }