

footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    background-color: rgb(66, 17, 44);
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
   
  }
  
  footer div {
    background-color: #dddd;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
   
  }
  
  footer span {
    font-size: x-small;
    background-color: #dddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 8px;
    }